@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --blue: #225cff;
    --yblue: #6096ba;

    --black: #14171a;

    /* Grey variant */
    --granite: #837e7c;
    --sliverchalice: #acacac;
    --quillgrey: #d6d6d1;
    --platnium: #e5e4e2;
    --seashell: #f1f1f1;
    --snowdrift: #f7faf7;

    --orange: #f49d40;
    --orangedark: #f49d40d0;

    --white: #ffffff;
}
/* Dark classe to change color value when theme id dark
    For exemple --white: #000000;
*/
input,
textarea {
    outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
